@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}
#header{
	width: 100%;
	height: 450px;
	background-image: url("images/contact_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}

#h1{
	width: 100%;
	height: 8%;
	background-color: #1f0733;
	display: flex;
	justify-content: space-between;
}
.h11{
	display: flex;
	margin-left: 30px;
}
.h12{
	display: flex;
	margin-right: 30px;
}
.h11 li{
	margin-left: 30px;
	list-style-type: none;
	line-height: 35px;
}
.h12 li{
	text-decoration: none;
	line-height: 35px;
	margin-left: 3px;
	list-style-type: none;
}
#h1 li a{
	color: white;
	text-decoration: none;
}

#h2{
	width: 100%;
	height: 30%;
	background-color: rgba(54, 19, 84, 0.6);
	display: flex;
	
}

.h21{
	width: 35%;
	height: 100%;
	line-height: 150px;
}
.h22{
	with: 65%;
	height: 100%;
	display: flex;
	line-height: 140px;
	font-size: 15px;
}
.h22 ul{
	display: flex;
/*	margin-left: 50px;*/
	justify-content: space-around;
}
.h22 ul li{
	list-style-type: none;
	margin-left: 30px;
/*	width: 100px;*/
}
.h22 ul li a{
	text-decoration: none;
	color: white;
}
.h22 ul li a:hover{
	text-decoration: underline;
	text-decoration-color: yellow;
	text-decoration-thickness: 5px;	
}

#h1 ul li a:hover{
	color: #DE6B0E;
}

#h3{
	width: 100%;
	height: 62%;
	color: white;
	display: grid;
	place-items: center;
}

.h31{
	text-align: center;
	
	font-size: 70px;
}


#contact{
	width: 70%;
	display: flex;
	height: 500px;
	margin: auto;
}
.contact-container{
	flex: 1;
	width: 50%;
/*	background-color: red;*/
	background: linear-gradient(to top right, #fa9e1b, #8d4fff);
}
.contact_title
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}
.contact_form
{
	margin-top: 52px;
	font-size: 0px;
	margin-left: 20px;
}
.input_field
{
	height: 48px;
	font-size: 12px;
	font-weight: 400;
	border: none;
	outline: none;
	background: transparent;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
}
.contact_form_name
{
	width: calc((100% - 30px) / 2);
	margin-right: 30px;
}
.contact_form_email
{
	width: calc((100% - 30px) / 2);
}
.contact_form_subject
{
	width: 100%;
	margin-top: 11px;
}
.contact_form_message
{
	height: 126px;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 19px;
	background: transparent;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	border-bottom: solid 2px #e1e1e1;
	padding-top: 11px;
}
.form_submit_button
{
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding-left: 29px;
	padding-right: 29px;
	background: #31124b;
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	-o-transform: translateY(15px);
	transform: translateY(15px);
	border: none;
	outline: none;
	margin-top: 37px;
	cursor: pointer;
/*	text-align: center;*/
}
.form_submit_button:hover
{
	opacity: 0.8;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}

#contact_content{
	margin: auto;
	width: 70%;
	height: 450px;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contact-img{
	width: 40%;
	height: 100%;
	background-image: url("images/contact1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}


.footer-about1{
	width: 30%;
	height: 80%;

	
}

.footer-about-title1{
	width: 100%;
	height: 60px;
/*	background-color: aqua;*/
	display: flex;
	line-height: 60px;
/*	padding-left: 55px;*/
	box-sizing: border-box;
	color: black;
}
.footer_about_text1{
	width: 100%;
	height: 180px;
/*	background-color: blanchedalmond;*/
	box-sizing: border-box;
	padding-top: 30px;
	color: black;
}
.footer-about-list1{
	list-style-type: none;
	display: flex;
	line-height: 60px;
	justify-content: space-around;
	font-size: 20px;
	
}
.footer-about-list1 a{
	color: #DF770F;
}
.footer-about-list1 a:hover{
	color: red;
}


.footer-contact1{
	width: 20%;
	height: 80%;
	
}

.footer-contact-title1{
	width: 100%;
	height: 60px;

}
.footer-contact-title1 h3{
	line-height: 60px;
	color: black;
}
.footer-contact-content1 ul{
	
}
.footer-contact-content1 ul li{
	list-style-type: none;
}
.footer-contact-content1 ul li a{
	text-decoration: none;
	line-height: 60px;
	color: black;
}
.footer-contact-content1 ul li a:hover{
	color:  #DF770F;
}
.footer-contact-content1 ul li a i{
	font-size: 25px;	
	color:  #DF770F;
}

#map{
	width: 100%;
	height: 800px;
/*	background-color: aqua;*/
	background-image: url("images/map.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}


#footer{
	width: 100%;
	height: 400px;
	background-color: #1f0733;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-about{
	width: 20%;
	height: 300px;
/*	background-color: chartreuse;*/
}

.footer-about-title{
	width: 100%;
	height: 60px;
/*	background-color: aqua;*/
	display: flex;
	line-height: 60px;
	padding-left: 55px;
	box-sizing: border-box;
	color: white;
}
.footer_about_text{
	width: 100%;
	height: 180px;
/*	background-color: blanchedalmond;*/
	box-sizing: border-box;
	padding-top: 30px;
	color: white;
}
.footer-about-list{
	list-style-type: none;
	display: flex;
	line-height: 60px;
	justify-content: space-around;
	font-size: 20px;
	
}
.footer-about-list a{
	color: white;
}
.footer-about-list a:hover{
	color: #DF770F;
}
.footer-blog{
	width: 20%;
	height: 300px;
}
.footer-blog-title{
	width: 100%;
	height: 60px;
}
.footer-blog-title h3{
	color: white;
	line-height: 60px;
}
.footer-blog-content{
	width: 100%;
	height: 220px;
	
}
.footer-blog-content1{
	width: 100%;
	height: 65px;
	display: flex;
	margin-bottom: 22.5px;
}
.footer-blog-content1-img{
	width: 20%;
	height: 100%;
}
.footer-blog-content1-img img{
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.footer-blog-content11{
	width: 80%;
	height: 100%;
	margin-left: 20px;
	color: white;
}
.footer-blog-content11 h4{
	margin-bottom: 10px;
}
.footer-blog-content11 h4:hover{
	color: #DF770F;
}

.footer-tags{
	width: 20%;
	height: 300px;
}
.footer-tags-title{
	width: 100%;
	height: 60px;
}
.footer-tags-title h3{
	color: white;
	line-height: 60px;
}
.footer-tags-content{
	width: 100%;
	height: 220px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	color: white;
}
.footer-tags-content1{
	width: 40%;
	height: 20%;
	text-align: center;
	line-height: 250%;
	border: solid 1.5px #DF770F;
}
.footer-tags-content div:hover{
	background-color: #DF770F;
/*	color: #DF770F;*/
}
.footer-contact{
	width: 20%;
	height: 300px;
	
}

.footer-contact-title{
	width: 100%;
	height: 60px;

}
.footer-contact-title h3{
	line-height: 60px;
	color: white;
}
.footer-contact-content ul{
	
}
.footer-contact-content ul li{
	list-style-type: none;
}
.footer-contact-content ul li a{
	text-decoration: none;
	line-height: 60px;
	color: white;
}
.footer-contact-content ul li a:hover{
	color:  #DF770F;
}
.footer-contact-content ul li a i{
	font-size: 25px;	
	color:  #DF770F;
}
